# Angular output
/dist
/tmp
/out-tsc
/.angular/cache
/.angular/cache/
.angular/
.cache/

# Bazel
/bazel-out

# Node
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing & coverage

/coverage
/libpeerconnection.log
testem.log
karma.conf.js
test.ts

# Environment files
.env
.env.*   # si tu ajoutes des variables

# IDEs & editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# VSCode history plugin
.history/*

# OS-specific
.DS_Store
Thumbs.db

# Git-specific
.git/
